*.*~

.env
.vscode/
docker-compose-prod.yml

#front library

front/library/node_modules
front/library/.pnp
front/library/.pnp.js

#front application
front/application/ios/

front/application/android/*
!front/application/android/app/
front/application/android/app/*
!front/application/android/app/build.gradle
front/application/public_/

front/application/node_modules/
front/application/.expo/
front/application/dist/
front/application/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
front/application/web-build/
front/application/build-*.aab

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*


# testing
front/library/coverage

# production
front/library/build
front/library/apikeys
front/library/.env

# misc
front/library/.DS_Store
front/library/.env.local
front/library/.env.development.local
front/library/.env.test.local
front/library/.env.production.local

front/library/npm-debug.log*
front/library/yarn-debug.log*
front/library/yarn-error.log*

#proxy Fail2Ban

proxy/fail2ban/*
!proxy/fail2ban/action.d/
!proxy/fail2ban/jail.local
!proxy/fail2ban/README.md

proxy/fail2ban/action.d/*
!proxy/fail2ban/action.d/.gitignore
!proxy/fail2ban/action.d/iptables-nft.local

#proxy logs

proxy/log/fail2ban/
proxy/log/*.log
proxy/log/nginx/*.log

#proxy certs

proxy/ssl/*