{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ .Subject}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{template "styles" .}}
  </head>
  <body style="background-color: #e9ecef">
    <!-- start preheader -->
    <div
      class="preheader"
      style="
        display: none;
        max-width: 0;
        max-height: 0;
        overflow: hidden;
        font-size: 1px;
        line-height: 1px;
        color: #fff;
        opacity: 0;
      "
    >
      A preheader is the short summary text that follows the subject line when
      an email is viewed in the inbox.
    </div>
    <!-- end preheader -->
    <!-- START CENTERED WHITE CONTAINER -->
    {{block "content" .}}{{end}}
    <!-- END CENTERED WHITE CONTAINER -->
  </body>
</html>

{{end}}
